{%extends 'top.html'%}

{% block content %}
<div style="text-align:center;">
    <div clsas="container">
        <h1>로그인</h1>
        <form action="POST" action="%url 'home'%}">
            {% csrf_token %}
            Username:
            <input name ="username"type="text">
            <br><br>
            Password:
            <input name ="password" type = "password">
            <br><br>
        <!--  <input name ="submit" class="btn btn-primary" value="sign up">-->
        <input type = "submit" value = "로그인">
        </form>
    </div>
</div>
{% endblock %}
