{%extends 'sellers/top.html'%}
{% block content %}

<!--<article class="container">
  <div class="right-box">
    등록날짜 : {{product.upload_date|date:'Y-m-d H:i'}}
  </div>
  <br>
  <div class="right-box">
    조회수 : {{product.view}}
  </div>

  <div class = "row mt-5">
    <div class = "col-12">
        <div class = "card" style = "width:100%">
            <div class = "card-body">
                <h5>상품 이름 {{product.name}}</h5>
            </div>
            <ul class = "list-group list-group-flush">
                <li class = "list-group-item">상품 가격 : {{ product.price}} 원</li>
                <li class = "list-group-item">남은 수량 : {{ product.stock}}</li>
                <li class = "list-group-item">등록 날짜 : {{ product.upload_date|date:'Y-m-d H:i'}}</li>
                <li class = "list-group-item">{{ product.description|safe }} </li>
            </ul>
        </div>
    </div>
</div>
</article>-->

<div class="conatiner">
    <p><h1> 상품 이름</h1> 
    {{product.name}}</p>
    <p><h1>상품 분류</h1> {{product.category}} </p>
    <p><h1>대표 사진</h1> <img src = "{{product.image.url}}"> </p>
    <p><h1>상품 가격</h1> {{product.price}} </p>
    <p><h1>상품 설명</h1> {{product.description|safe}}</p>
    <p><h1>상품 수량</h1> {{product.stock}} </p>
    <br><br>
</div>
 
<div align="center">
  <button type="button" class="btn btn-dark"><a href="{% url 'edit' product.category product.name %}"><p style="font-size:1.5em">수정</p></button>

  <button type="button" class="btn btn-light" onclick="location.href='/sellers/mypage/productlist' "><p style="font-size:1.5em">돌아가기</p></button>

  <button type="button" class="btn btn-primary"><a href="{% url 'delete' product.category product.name %}"><p style="font-size:1.5em">삭제</p></button>
  </div>
</div>

{% endblock %}