{%extends 'sellers/top.html'%}
{% block content %}

<!--<article class="container">
  <div class="right-box">
    등록날짜 : {{product.upload_date|date:'Y-m-d H:i'}}
  </div>
  <br>
  <div class="right-box">
    조회수 : {{product.view}}
  </div>

  <div class = "row mt-5">
    <div class = "col-12">
        <div class = "card" style = "width:100%">
            <div class = "card-body">
                <h5>상품 이름 {{product.name}}</h5>
            </div>
            <ul class = "list-group list-group-flush">
                <li class = "list-group-item">상품 가격 : {{ product.price}} 원</li>
                <li class = "list-group-item">남은 수량 : {{ product.stock}}</li>
                <li class = "list-group-item">등록 날짜 : {{ product.upload_date|date:'Y-m-d H:i'}}</li>
                <li class = "list-group-item">{{ product.description|safe }} </li>
            </ul>
        </div>
    </div>
</div>
</article>-->

<div class="conatiner">
    <h1> {{product.name}} </h1>
    <p> {{product.category}} </p>
    <p> {{product.image}} </p>
    <p> {{product.price}} </p>
    <p>{{product.description|safe}}</p>
    <p> {{product.stock}} </p>
    <br><br>
</div>
 
<a href="{%url 'success'%}">HOME</a>
 
{% endblock %}