{%extends 'users/top.html'%} {% block content %}
<style>
  .container div {
    text-align: center;
  }

  table {
    width: 80%;
    border: 1px solid #444444;
    border-collapse: collapse;
  }

  th {
    font-size: 13px;
    background-color: #eeeeee;
  }

  td {
    border: 1px solid #444444;
    font-size: 13px;
    padding: 10px;
  }

  .fix {
    width: 150px;
    background-color: #eeeeee;
    font-weight: bold;
  }

  input {
    height: 22px;
    margin: 3px 0px 3px 0px;
    border: 1px solid #d4d8d9;
    line-height: 22px;
  }

  input::placeholder {
    color: black;
  }
</style>

<body></body>

{% endblock %}
