{%extends 'users/top.html'%} {% block content %}

<div class="product_list">
  <div class="col-md-6">
    <img class="img-responsive img-center" src="{{ product.image.url }}" />
    <nav style="text-align: right;">
      <h2>{{product.view}}</h2>
    </nav>
    <form action="order_form.html">
      <nav style="text-align: center;">
        <h2>{{product.name}}</h2>
      </nav>
      <div class="col-md-6">
        <div style="padding: 0 50px 0 0;"><h4>{{product.name}}</h4></div>
        <br />
        <table class="type04">
          <tr>
            <th scope="row">판매가</th>
            <td>{{product.price}}원</td>
          </tr>
          <tr>
            <th scope="row">수량</th>
            <td>
              <input
                class="input"
                type="number"
                id="quantity"
                name="quantity"
                placeholder="수량"
              />
            </td>
          </tr>
          <tr>
            {% if product.stock == 0 %}
            <p><strong>재고 상태:</strong>재고 없음</p>
            {% endif %}
          </tr>
        </table>
        {% if request.session.user %}
        <a href="/order_form/{{product.name}}">
          구매하기
        </a>
        <!--<button type="button" class="addcart" ><p style="width: 30%; height: 50px; font-size: 150%;">장바구니</p></button>-->
        <!--onclick="addcart()" cart="False"-->
        <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">
          functions addcart(){
            count = document.querySelector('input[name="quantity"]');
            $('.addcart')attr("cart","True");
            buttoninfo =document.qureySelector('button[class="addcart"]');
            $.ajax({
                url: '{%url 'product'%}',
                data: { 'item_count' : count.value, 'cart':buttoninfo.cart},
                success: function (data){
                    console.log(data['confirm']);
                    if (data['confirm'] =="ok"){
                      var UP;
                      UP =confirm("장바구니에 추가되었습니다. 장바구니로 가시겠습니까?");
                      id_overlap_input.focus();
                      if(UP){
                        location.href="/cart";
                      }
                      else{
                        return;
                      }


                }
            })
          }

        </script>
        {% else %}
        <input
          type="button"
          value="구매하기"
          onclick="location.href='/login' "
          class="main-btn btn-dark"
          style="width: 30%; height: 50px; font-size: 150%;"
        />

        {% endif %}
        <input
          type="button"
          value="장바구니"
          onclick="location.href='/login' "
          class="main-btn"
          style="width: 30%; height: 50px; font-size: 150%;"
        />
      </div>
    </form>

    <br /><br />
  </div>
  <img class="img-responsive img-center" src="{{ product.detail_image.url }}" />

  {% endblock %}
</div>
