

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!--정적 파일 실행-->

{% load static %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">

<title>탐나냥</title>

<div style="overflow:scroll; width:100vw; height:100vh;">

  <nav class="navbar navbar-expand-md">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  
  <div class="text-right">
  <ul class="nav nav-tabs"> 
  
  {% if request.session.user %}
  <li class="nav-item">
    <a class="nav-link"  href="/logout"><span style="color:black; font-size:1.25em;">LOGOUT</span>
        <br> </a>
  </li>
  {% else %}
    <li class="nav-item">
        <a class="nav-link"  href="/login"><span style="color:black; font-size:1.25em;">LOGIN</span>
            <br> </a>
    </li>
  {% endif %}

    <li class="nav-item">
      <a class="nav-link"  href="/signup"><span style="color:black; font-size:1.25em;">JOIN</span>
        <br> </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cart"><span style="color:black; font-size:1.25em;">CART</span>
          <br> </a>
      </li>

    {{% if request.session.user %}
    <li class="nav-item">
      <a class="nav-link" href="/mypage"><span style="color:black; font-size:1.25em;">MYPAGE</span>
        <br> </a>
    </li>
    {% else %}
    <!--로그인안하면안된다는 경고메세지-->
    <li class="nav-item">
      <a class="nav-link" onClick="alert('구매자 로그인이 필요합니다')"><span style="color:black; font-size:1.25em;">MYPAGE</span>
        <br> </a>
    </li>

    {% endif %}

    <li class="nav-item">
      <a class="nav-link" href="/notice"><span style="color:black;  font-size:1.25em;">NOTICE</span>
        <br> </a>
    </li>
  </ul>
  </div>
  </nav>
  

  <br><br>
  

<br>
    <div col-md-3>
      <span class="input-group-btn" > 
        <a class="nav-link"  href="/"><h1><span style="color:black; text-align:center">탐나냥</h1></span></a>
    </div>


</a> 
</br></br>
<div class="">
<div class="container-fluid">
    <div class="">
      <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" href="/category/couple_look"><span style="color:black; font-size:1.25em;">커플룩</span>
              <br> </a>
          </li>


        <li class="nav-item">
          <a class="nav-link"  href="/category/female"><span style="color:black; font-size:1.25em;">여성옷</span>
            <br> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category"><span style="color:black; font-size:1.25em;">아우터</span>
            <br> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category"><span style="color:black; font-size:1.25em;">상의</span>
            <br> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list/no-3"><span style="color:black; font-size:1.25em;">신발</span>
            <br> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list/no-4"><span style="color:black; font-size:1.25em;">악세서리</span>
            <br> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cart">
              <i class="fa fa-fw fa-shopping-cart"></i><span style="color:black; font-size:1.25em;">사료/간식</span>
              <br> </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br><br>

{% block content %}
{% endblock %}

<hr width = "100%" color = "gray" size = "1">
</div>